body {
    padding-top: 50px;
}

.video-list{
  list-style: none;
}

.video-list li {
  padding: 15px;
}

.video-list img {
  width: 100%;
  height: 150px;
}

.video-list span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.video-title {

}